{#
Appiaries Push Notifications EC-CUBE 3 Plugin v1.0.0
melissa always loves you!
Copyright (c) 2015 Appiaries Co.
Under the terms of the MIT license.
http://www.appiaries.com/

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.
IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM,
DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT,
TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE
OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
#}

{% extends 'default_frame.twig' %}

{% set menus = ['appiaries', 'push_list', ''] %}

{% block title %}プッシュ配信管理{% endblock %}
{% block sub_title %}配信削除{% endblock %}

{% block javascript %}
<script>
$('#btn_back').on('click', function(){ history.back(-1); });
</script>
{% endblock javascript %}

{# BEGIN: main #}
{% block main %}

	{% if data is defined and data.nochange == false
			and data.send_status is defined
			and data.send_status == 0 %}
		{% set allow_change = true %}
	{% else %}
		{% set allow_change = false %}
	{% endif %}

<div id="aside_wrap">

	<div class="col-md-10 col-lg-10">
		<div class="box">
			<div class="box-header">
				<h3 class="box-title">配信削除{%
					if error is defined %} (エラー){%
					endif %}</h3>
			</div>
			<!-- BEGIN: BOX-BODY -->
			<div class="box-body">
	{% if allow_change == true%}
				<p>以下の予約配信を本当に削除しますか？</p>
	{% else %}
				<p>この予約配信は削除できません。</p>
	{% endif %}

	{# BEGIN: Reserved Push Data #}
	{% if data is defined %}
				<div class="table_list">
					<div class="table-responsive">
						<table class="table table-striped with-border">
						<tbody>
<tr>
<th class="col-md-2 col-lg-2">プッシュID</th>
<td class="col-md-10 col-lg-10">{% if data.push_id is defined %}{{ data.push_id }}{% endif %}</td>
</tr>
<tr>
<th class="col-md-2 col-lg-2">送信予約ID</th>
<td class="col-md-10 col-lg-10">{% if data._id is defined %}{{ data._id }}{% endif %}</td>
</tr>
<tr>
<th class="col-md-2 col-lg-2">予約配信タイトル</th>
<td class="col-md-10 col-lg-10">{% if data.title is defined %}{{ data.title }}{% endif %}</td>
</tr>
<tr>
<th class="col-md-2 col-lg-2">デバイス種別</th>
<td class="col-md-10 col-lg-10">{% if data.type is defined %}{%
		if data.type == 'apns' %}iOS{% else %}Android{% endif %}{% endif %}</td>
</tr>
<tr>
<th class="col-md-2 col-lg-2">配信日時</th>
<td class="col-md-10 col-lg-10">{% if data.reserve is defined %}{{ data.reserve }}{% endif %}</td>
</tr>
<tr>
<th class="col-md-2 col-lg-2">配信状況</th>
<td class="col-md-10 col-lg-10">{%
	if data.send_status is defined %}{%
		if data.send_status == 0 %}<span style="color:#e36868;">未送信</span>{%
		elseif data.send_status == 1 %}<span style="color:#87cb73;">送信中</span>{%
		elseif data.send_status == 2 %}<span style="color:#5073cb;">送信完了</span>{%
		elseif data.send_status == 3 %}<span style="color:#e36868;">再送信待ち</span>{%
		else %}<span style="color:#b42eab">不明</span>{% endif %}{%
	else %}<span style="color:#e36868;">処理中</span>{%
	endif %}&nbsp; (計 : {%
		if data.reservecount is defined %}{{ data.reservecount|number_format }}{% endif %} 件)
		<div style="margin-top:4px;margin-left:20px;">
			成功 : <span style="margin-left:10px;">{%
				if data.send_ok is defined %}{{ data.send_ok|number_format }} 件{% endif %}</span>
		</div>
		<div style="margin-top:4px;margin-left:20px;">
		失敗 : <span style="margin-left:10px;">{% if
			data.send_error %}{{ data.send_error|number_format }} 件{% endif %}</span>
		</div>
		{% if data.is_success != true and data.errors is defined %}
		<div style="margin-top:4px;margin-left:30px;color:#a0a0a0;">
			{% for err in data.errors %}
			<div>{% if err.msg is defined %}{{ err.msg }}{% endif %}{%
				if err.cnt is defined %}{{ err.cnt|number_format }} : <span
					style="margin-left:10px;">{{ err.cnt|number_format }} 件</span>{% endif %}</div>
			{% endfor %}
		</div>
		{% endif %}
</td>
</tr>
<tr>
<th class="col-md-2 col-lg-2">配信対象端末数</th>
<td class="col-md-10 col-lg-10">{% if
	data.reservecount is defined %}{{ data.reservecount|number_format }} 件{% endif %}</td>
</tr>
<tr>
<th class="col-md-2 col-lg-2">開封済み件数</th>
<td class="col-md-10 col-lg-10">{%
		if data.count_per_pushid is defined %}{{ data.count_per_pushid|number_format }} 件{% endif %}</td>
</tr>

		{# BEGIN: iOS #}
		{% if data.type == 'apns' %}
<tr>
<th class="col-md-2 col-lg-2">メッセージ</th>
<td class="col-md-10 col-lg-10">{% if data.apns is defined
		and data.apns.alert is defined
		and data.apns.alert.body is defined
	%}{{ data.apns.alert.body }}{% endif %}</td>
</tr>
<tr>
<th class="col-md-2 col-lg-2">バッジ</th>
<td class="col-md-10 col-lg-10">{% if data.apns is defined
		and data.apns.badge is defined
	%}{{ data.apns.badge }}{% endif %}</td>
</tr>
<tr>
<th class="col-md-2 col-lg-2">サウンド</th>
<td class="col-md-10 col-lg-10">{% if data.apns is defined
		and data.apns.sound is defined
	%}{{ data.apns.sound }}{% endif %}</td>
</tr>
				{% if data.apns.custom is defined%}
					{% for key,value in data.apns.custom %}
						{% if key == 'title' %}{% set key = 'タイトル' %}{%
								elseif key == 'message' %}{%
							set key = 'メッセージ' %}{% endif %}
<tr>
<th class="col-md-2 col-lg-2">{{ key }}</th>
<td class="col-md-10 col-lg-10">{{ value|nl2br }}</td>
</tr>
					{% endfor %}
				{% endif %}
		{% endif %}
		{# END OF: iOS #}

		{# BEGIN: Android #}
		{% if data.type == 'gcm' %}
<!--
<tr>
<th class="col-md-2 col-lg-2">delay_while_idle</th>
<td class="col-md-10 col-lg-10">{% if data.delay_while_idle is defined %}{%
	if data.delay_while_idle == true %}true{% else %}false{% endif %}{% endif %}</td>
</tr>
-->
				{% if data.custom is defined%}
					{% for key,value in data.custom %}
						{% if key == 'title' %}{% set key = 'タイトル' %}{%
								elseif key == 'message' %}{%
							set key = 'メッセージ' %}{% endif %}
<tr>
<th class="col-md-2 col-lg-2">{{ key }}</th>
<td class="col-md-10 col-lg-10">{{ value|nl2br }}</td>
</tr>
					{% endfor %}
				{% endif %}

		{% endif %}
		{# END OF: Android #}

<tr>
<th class="col-md-2 col-lg-2">リッチプッシュ URL</th>
<td class="col-md-10 col-lg-10">{%
	if data._openUrl is defined %}{{ data._openUrl }}{% endif %}</td>
</tr>

						</tbody>
						</table>
					</div>
				</div>
	{% endif %}
	{# END OF: Reserved Push Data #}

			</div>
			<!-- END OF: BOX-BODY -->
		</div>
		<!-- END OF: BOX -->

	</div>
	<div class="col-md-2 col-lg-2">
	</div>
</div>


<!-- BEGIN: footer -->
<div class="col-md-12 col-lg-12">
	<div class="box">
		<div class="row col-md-12 col-lg-12" style="padding: 20px 0px 20px;">
	{% if allow_change == true %}
			<div class="col-md-2 col-lg-2"></div>
		{% if pg is defined %}
			<div class="col-md-2 col-lg-2">
				<a href="{{ path('admin_appiaries_push_list', {'pg' : pg}) }}"
					class="btn btn-primary btn-block btn-lg">一覧に戻る</a>
			</div>
			<div class="col-md-2 col-lg-2">
				<a href="{{ path('admin_appiaries_push_view', {'id' : _id, 'pg' : pg}) }}"
					class="btn btn-primary btn-block btn-lg">{%
						if success is defined %}詳細をみる{% else %}詳細に戻る{% endif %}</a>
			</div>
			<div class="col-md-2 col-lg-2">
				<a href="{{ path(
						'admin_appiaries_push_delete',
						{
							'id' : _id,
							'pg' : pg,
							'delete' : 1
						}
					) }}" class="btn btn-danger btn-block btn-lg">削除する</a>
			</div>
		{% else %}
			<div class="col-md-2 col-lg-2">
				<a href="{{ path('admin_appiaries_push_list') }}"
					class="btn btn-primary btn-block btn-lg">一覧に戻る</a>
			</div>
			<div class="col-md-2 col-lg-2">
				<a href="{{ path('admin_appiaries_push_view', {'id' : _id}) }}"
					class="btn btn-primary btn-block btn-lg">{%
						if success is defined %}詳細をみる{% else %}詳細に戻る{% endif %}</a>
			</div>
			<div class="col-md-2 col-lg-2">
				<a href="{{ path(
						'admin_appiaries_push_delete',
						{
							'id' : _id,
							'delete' : 1
						}
					) }}" class="btn btn-danger btn-block btn-lg">削除する</a>
			</div>
		{% endif %}
			<div class="col-md-4 col-lg-4">
			</div>
	{% else %}
			<div class="col-md-3 col-lg-3">
			</div>
		{% if pg is defined %}
			<div class="col-md-2 col-lg-2">
				<a href="{{ path('admin_appiaries_push_list', {'pg' : pg}) }}"
					class="btn btn-primary btn-block btn-lg">一覧に戻る</a>
			</div>
			<div class="col-md-2 col-lg-2">
				<a href="{{ path('admin_appiaries_push_view', {'id' : _id, 'pg' : pg}) }}"
					class="btn btn-primary btn-block btn-lg">詳細をみる</a>
			</div>
		{% else %}
			<div class="col-md-2 col-lg-2">
				<a href="{{ path('admin_appiaries_push_list') }}"
					class="btn btn-primary btn-block btn-lg">一覧に戻る</a>
			</div>
			<div class="col-md-2 col-lg-2">
				<a href="{{ path('admin_appiaries_push_view', {'id' : _id}) }}"
					class="btn btn-primary btn-block btn-lg">詳細をみる</a>
			</div>
		{% endif %}
			<div class="col-md-5 col-lg-5">
			</div>
	{% endif %}
		</div>
	</div>
</div>
<!-- END OF: footer -->


	{% if allow_change == true and mode is defined %}
</form>
	{% endif %}


{% endblock main %}
{# END OF: main #}

